#container { 
	position: relative;
	width: 100%;
	max-width: 710px;
	max-height:403px;
	margin:0px auto 0px;
}
#container .images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
}
#container .images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0;
	overflow: hidden;
	float:left;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#container .images{
	position: relative;
	left:0;
	top:0;
	height:100%;
	max-height:403px;
	max-width: 710px;
	vertical-align: top;
	horizontal-align: center;
	border:none;
	overflow: hidden;
}
#container  .bullets { 
	float: left;
	position:absolute;
}
#container  .bullets div{
	position:relative;
	float:left;
	font-size: 0px;
}
#container  .bullets { 
	padding: 10px; 
}
#container .bullets span { 
	margin-left:4px;
	width:15px;
	height:15px;
	background: url(bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	color:transparent;
}
#container .bullets span:hover{
	background-position: 0 100%;
}
#container  .bullets {
	bottom:-5px;
	left:50%;
}
#container  .bullets div{
	left:-50%;
}
#container .images > ul{
	animation: wsBasic 44s infinite;
	-moz-animation: wsBasic 44s infinite;
	-webkit-animation: wsBasic 44s infinite;
}
@keyframes wsBasic{0%{left:-0%} 4.55%{left:-0%} 9.09%{left:-100%} 13.64%{left:-100%} 18.18%{left:-200%} 22.73%{left:-200%} 27.27%{left:-300%} 31.82%{left:-300%} 36.36%{left:-400%} 40.91%{left:-400%} 45.45%{left:-500%} 50%{left:-500%} 54.55%{left:-600%} 59.09%{left:-600%} 63.64%{left:-700%} 68.18%{left:-700%} 72.73%{left:-800%} 77.27%{left:-800%} 81.82%{left:-900%} 86.36%{left:-900%} 90.91%{left:-1000%} 95.45%{left:-1000%} }
@-moz-keyframes wsBasic{0%{left:-0%} 4.55%{left:-0%} 9.09%{left:-100%} 13.64%{left:-100%} 18.18%{left:-200%} 22.73%{left:-200%} 27.27%{left:-300%} 31.82%{left:-300%} 36.36%{left:-400%} 40.91%{left:-400%} 45.45%{left:-500%} 50%{left:-500%} 54.55%{left:-600%} 59.09%{left:-600%} 63.64%{left:-700%} 68.18%{left:-700%} 72.73%{left:-800%} 77.27%{left:-800%} 81.82%{left:-900%} 86.36%{left:-900%} 90.91%{left:-1000%} 95.45%{left:-1000%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 4.55%{left:-0%} 9.09%{left:-100%} 13.64%{left:-100%} 18.18%{left:-200%} 22.73%{left:-200%} 27.27%{left:-300%} 31.82%{left:-300%} 36.36%{left:-400%} 40.91%{left:-400%} 45.45%{left:-500%} 50%{left:-500%} 54.55%{left:-600%} 59.09%{left:-600%} 63.64%{left:-700%} 68.18%{left:-700%} 72.73%{left:-800%} 77.27%{left:-800%} 81.82%{left:-900%} 86.36%{left:-900%} 90.91%{left:-1000%} 95.45%{left:-1000%} }

#container .shadow{
	background: url(shadow.png) left 100%;
	background-repeat: no-repeat;
	background-size:100% 100%;
	width:100%;
	height:9px;
	position: absolute;
	left:0;
	bottom:-9px;
	z-index:-1;
}
#container .bullets  span img{
	text-indent:0;
	display:block;
	bottom:16px;
	left:-42px;
	visibility:hidden;
	position:absolute;
    border: 5px outset #FFFFFF;
}
#container .bullets span:hover img{
	visibility:visible;
}